.modal-content {
  background: linear-gradient(180deg, #e3f7fa , #4a56ff);
  margin: 5% auto 15% auto;
  border: 5px solid #03032b;
  width: 50%;
  height: 100%;
  padding: 0 0 100px;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 1s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

.signcontainer {
  padding: 16px;
}

input[type=text], input[type=password], input[type=email], input[type=date] {
  width: 85%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=date]:focus {
  background-color: #ddd;
  outline: none;
}


button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 45%;
}

#toggleButton {
    margin: 10px;
    width: 25%;
    background-color: rgb(0, 0, 64);
}

#textAreaContainer {
    display: none;
}

#insertTextArea {
    width: 75%;
    box-sizing: border-box;
    resize: none;
}

